In [1]:
import pandas as pd

In [5]:
folder = '/Users/BharathiSrinivasan/Documents/Instacart_Data/'

In [6]:
prior = pd.read_csv(folder + "order_products__prior.csv")
train = pd.read_csv(folder + "order_products__train.csv")

In [7]:
prior.shape

(32434489, 4)

In [8]:
train.shape

(1384617, 4)

In [10]:
#We will create a merged dataset from which we can split data into test and train datasets of different sizes

df = pd.concat([prior,train])

In [11]:
orders = pd.read_csv(folder + "orders.csv")
products = pd.read_csv(folder + "products.csv")
dept = pd.read_csv(folder + "departments.csv")

In [13]:
df.dtypes

order_id             int64
product_id           int64
add_to_cart_order    int64
reordered            int64
dtype: object

In [14]:
df1 = pd.merge(df,orders, how = 'left', left_on = 'order_id', right_on = 'order_id')

In [15]:
df2 = pd.merge(df1, products, how = 'left', left_on = 'product_id', right_on = 'product_id')

In [17]:
df_merged = pd.merge(df2, dept, how = 'left', left_on = 'department_id', right_on = 'department_id')

In [25]:
df_merged.head()

,order_id,product_id,add_to_cart_order,reordered,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_name,aisle_id,department_id,department
0,2,33120,1,1,202279,prior,3,5,9,8.0,Organic Egg Whites,86,16,dairy eggs
1,2,28985,2,1,202279,prior,3,5,9,8.0,Michigan Organic Kale,83,4,produce
2,2,9327,3,0,202279,prior,3,5,9,8.0,Garlic Powder,104,13,pantry
3,2,45918,4,1,202279,prior,3,5,9,8.0,Coconut Butter,19,13,pantry
4,2,30035,5,0,202279,prior,3,5,9,8.0,Natural Sweetener,17,13,pantry

In [26]:
df_merged.drop(['eval_set'],axis=1, inplace=True)

In [27]:
#Export dataset
df_merged.to_csv('merged_data.csv')