In [1]:
import pandas as pd

In [2]:
folder = '/Users/BharathiSrinivasan/Documents/Instacart_Data/'

In [3]:
prior = pd.read_csv(folder + "order_products__prior.csv")
train = pd.read_csv(folder + "order_products__train.csv")

In [7]:
prior.shape

(32434489, 4)

In [8]:
train.shape

(1384617, 4)

In [4]:
#We will create a merged dataset from which we can split data into test and train datasets of different sizes

df = pd.concat([prior,train])

In [5]:
orders = pd.read_csv(folder + "orders.csv")
products = pd.read_csv(folder + "products.csv")
dept = pd.read_csv(folder + "departments.csv")

In [6]:
df.dtypes

order_id             int64
product_id           int64
add_to_cart_order    int64
reordered            int64
dtype: object

In [7]:
df1 = pd.merge(df,orders, how = 'left', left_on = 'order_id', right_on = 'order_id')

In [8]:
df2 = pd.merge(df1, products, how = 'left', left_on = 'product_id', right_on = 'product_id')

In [9]:
df_merged = pd.merge(df2, dept, how = 'left', left_on = 'department_id', right_on = 'department_id')

In [10]:
df_merged.head()

,order_id,product_id,add_to_cart_order,reordered,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_name,aisle_id,department_id,department
0,2,33120,1,1,202279,prior,3,5,9,8.0,Organic Egg Whites,86,16,dairy eggs
1,2,28985,2,1,202279,prior,3,5,9,8.0,Michigan Organic Kale,83,4,produce
2,2,9327,3,0,202279,prior,3,5,9,8.0,Garlic Powder,104,13,pantry
3,2,45918,4,1,202279,prior,3,5,9,8.0,Coconut Butter,19,13,pantry
4,2,30035,5,0,202279,prior,3,5,9,8.0,Natural Sweetener,17,13,pantry

In [11]:
df_merged.drop(['eval_set'],axis=1, inplace=True)

In [14]:
#Summary stats
round(df_merged.describe(),2)

,order_id,product_id,add_to_cart_order,reordered,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,aisle_id,department_id
count,33819106.00,33819106.00,33819106.00,33819106.00,33819106.00,33819106.00,33819106.00,33819106.00,31741038.00,33819106.00,33819106.00
mean,1710566.29,25575.51,8.37,0.59,102944.43,17.14,2.74,13.43,11.36,71.22,9.92
std,987400.76,14097.70,7.14,0.49,59467.33,17.50,2.09,4.25,8.94,38.20,6.28
min,1.00,1.00,1.00,0.00,1.00,1.00,0.00,0.00,0.00,1.00,1.00
25%,855413.00,13519.00,3.00,0.00,51435.00,5.00,1.00,10.00,5.00,31.00,4.00
50%,1710660.00,25256.00,6.00,1.00,102626.00,11.00,3.00,13.00,8.00,83.00,9.00
75%,2565587.00,37935.00,11.00,1.00,154412.00,24.00,5.00,16.00,15.00,107.00,16.00
max,3421083.00,49688.00,145.00,1.00,206209.00,100.00,6.00,23.00,30.00,134.00,21.00

* Order ID sequential from 1 to 3,421,083
* Product ID sequential from 1 to 49,688, 134 aisles, 21 departments
* Some exceptinally large orders with upto 145 products in a basket
* 1 to 100 orders of customers present in dataset - a good mix of old and new customers
* Day of week indicated from 0 to 6
* Hour of day as 0 to 23
* Previous order of customer is at a maximum of 30 days and minimum of same day reorder

In [20]:
#Missing values
df_merged[df_merged.isnull().any(axis=1)]

,order_id,product_id,add_to_cart_order,reordered,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_name,aisle_id,department_id,department
175,20,35430,1,0,182912,1,6,17,NaN,Nilla Wafers,61,19,snacks
176,20,47485,2,0,182912,1,6,17,NaN,Mini Chocolate Chip Waffles,52,1,frozen
177,20,7419,3,0,182912,1,6,17,NaN,Sweet Red Grape Tomatoes,83,4,produce
178,20,5112,4,0,182912,1,6,17,NaN,Danimals Swingin' Strawberry Banana Smoothie,120,16,dairy eggs
179,20,33452,5,0,182912,1,6,17,NaN,Fruit Punch Sports Drink,64,7,beverages
180,20,24852,6,0,182912,1,6,17,NaN,Banana,24,4,produce
181,20,42633,7,0,182912,1,6,17,NaN,Red Delicious Apple,24,4,produce
182,20,27605,8,0,182912,1,6,17,NaN,Oven Baked Original Potato Chips,107,19,snacks
320,35,28413,1,0,202527,1,1,13,NaN,Bunny-Luv Organic Carrots,83,4,produce
321,35,24532,2,0,202527,1,1,13,NaN,Cranberry Almond Chicken Salad,8,3,bakery
322,35,14715,3,0,202527,1,1,13,NaN,Coconut Water,98,7,beverages
323,35,16974,4,0,202527,1,1,13,NaN,Sea Salt Brown Rice Crackers,107,19,snacks
324,35,37980,5,0,202527,1,1,13,NaN,Madeleines,61,19,snacks
325,37,35561,1,0,52564,1,4,17,NaN,Organic Tortilla Chips,107,19,snacks
326,37,33059,2,0,52564,1,4,17,NaN,Ice Peppermint Gum,46,19,snacks
327,37,43721,3,0,52564,1,4,17,NaN,Wint-O-Green,46,19,snacks
472,57,21903,1,0,34016,1,6,8,NaN,Organic Baby Spinach,123,4,produce
473,57,47231,2,0,34016,1,6,8,NaN,Ultra-Purified Water,115,7,beverages
474,57,21137,3,0,34016,1,6,8,NaN,Organic Strawberries,24,4,produce
475,57,43122,4,0,34016,1,6,8,NaN,Organic Bartlett Pear,24,4,produce
476,57,19057,5,0,34016,1,6,8,NaN,Organic Large Extra Fancy Fuji Apple,24,4,produce
477,57,47209,6,0,34016,1,6,8,NaN,Organic Hass Avocado,24,4,produce
478,57,48857,7,0,34016,1,6,8,NaN,Authentic French Brioche,93,3,bakery
617,75,25138,1,0,106387,1,5,19,NaN,Organic Plain Greek Whole Milk Yogurt,120,16,dairy eggs
618,75,2361,2,0,106387,1,5,19,NaN,Mint Chip,37,1,frozen
619,75,10915,3,0,106387,1,5,19,NaN,Organic Short Brown Sprouted Rice,68,10,bulk
620,75,39275,4,0,106387,1,5,19,NaN,Organic Blueberries,123,4,produce
621,75,21616,5,0,106387,1,5,19,NaN,Organic Baby Arugula,123,4,produce
622,75,12341,6,0,106387,1,5,19,NaN,Hass Avocados,32,4,produce
623,75,33768,7,0,106387,1,5,19,NaN,Sinfully Sweet Campari Tomatoes,83,4,produce
...,...,...,...,...,...,...,...,...,...,...,...,...,...
32434191,3421044,39180,1,0,35140,1,4,15,NaN,Organic Lowfat 1% Milk,84,16,dairy eggs
32434192,3421044,22035,2,0,35140,1,4,15,NaN,Organic Whole String Cheese,21,16,dairy eggs
32434193,3421044,14678,3,0,35140,1,4,15,NaN,Organic Frozen Peas,116,1,frozen
32434194,3421044,34584,4,0,35140,1,4,15,NaN,Organic Sliced Peaches,116,1,frozen
32434195,3421044,31506,5,0,35140,1,4,15,NaN,Extra Virgin Olive Oil,19,13,pantry
32434196,3421044,14647,6,0,35140,1,4,15,NaN,Diced Hot Green Chiles,30,6,international
32434197,3421044,39699,7,0,35140,1,4,15,NaN,Whole Wheat Shells & White Cheddar Macaroni an...,4,9,dry goods pasta
32434198,3421044,40584,8,0,35140,1,4,15,NaN,Black Japonica Rice Blend,63,9,dry goods pasta
32434199,3421044,24082,9,0,35140,1,4,15,NaN,Organic Dark Sweet Cherries,116,1,frozen
32434200,3421044,9741,10,0,35140,1,4,15,NaN,Cheese Pizza,79,1,frozen
32434201,3421044,45866,11,0,35140,1,4,15,NaN,Fig Newmans Fruit Filled Cookies,61,19,snacks
32434207,3421046,27845,1,0,48836,1,2,15,NaN,Organic Whole Milk,84,16,dairy eggs
32434208,3421046,33731,2,0,48836,1,2,15,NaN,Grated Parmesan,21,16,dairy eggs
32434209,3421046,35547,3,0,48836,1,2,15,NaN,Organic Baby Kale,83,4,produce
32434210,3421046,31467,4,0,48836,1,2,15,NaN,Sockarooni Spaghetti Sauce,9,9,dry goods pasta
32434211,3421046,45066,5,0,48836,1,2,15,NaN,Honeycrisp Apple,24,4,produce
32434212,3421046,36412,6,0,48836,1,2,15,NaN,Pure Castile Peppermint Soap,25,11,personal care
32434213,3421046,20345,7,0,48836,1,2,15,NaN,Thin Crust Pepperoni Pizza,79,1,frozen
32434214,3421046,37973,8,0,48836,1,2,15,NaN,Apricot-Raspberry Preserves,88,13,pantry
32434442,3421077,27966,1,0,107102,1,3,10,NaN,Organic Raspberries,123,4,produce
32434443,3421077,45007,2,0,107102,1,3,10,NaN,Organic Zucchini,83,4,produce
32434444,3421077,26940,3,0,107102,1,3,10,NaN,Organic Large Green Asparagus,83,4,produce
32434445,3421077,27845,4,0,107102,1,3,10,NaN,Organic Whole Milk,84,16,dairy eggs
32434465,3421081,38185,1,0,117076,1,3,11,NaN,Hint of Lime Flavored Tortilla Chips,107,19,snacks
32434466,3421081,12218,2,0,117076,1,3,11,NaN,Classic Wheat Bread,112,3,bakery
32434467,3421081,32299,3,0,117076,1,3,11,NaN,Dijon Mustard,72,13,pantry
32434468,3421081,3060,4,0,117076,1,3,11,NaN,Pepper Jack Cheese Slices,21,16,dairy eggs
32434469,3421081,20539,5,0,117076,1,3,11,NaN,Healthy Kids Chicken Alphabet Condensed Soup,69,15,canned goods
32434470,3421081,35221,6,0,117076,1,3,11,NaN,Lime Sparkling Water,115,7,beverages
32434471,3421081,12861,7,0,117076,1,3,11,NaN,Farmer’s Market Vine Ripened Tomato & Basil Hu...,67,20,deli

In [21]:
#Missing values in columns other than days since prior order
test = df_merged.drop(['days_since_prior_order'], axis = 1)
test[test.isnull().any(axis=1)]

Empty DataFrame
Columns: [order_id, product_id, add_to_cart_order, reordered, user_id, order_number, order_dow, order_hour_of_day, product_name, aisle_id, department_id, department]
Index: []

In [24]:
# 2 million rows with missing values in days since prior order - Impute with mean
df_merged['days_since_prior_order'] = df_merged['days_since_prior_order'].fillna(value = df_merged['days_since_prior_order'].mean())

In [25]:
#Export dataset
df_merged.to_csv('merged_data.csv')