In [1]:
import pandas as pd

In [2]:
folder = '/Users/BharathiSrinivasan/Documents/GitHub/Thesis/Data/'

df = pd.read_csv(folder + 'merged_data.csv')

In [23]:
1000000/df.shape[0]

0.0295690844104513

In [10]:
df.head()

,Unnamed: 0,order_id,product_id,add_to_cart_order,reordered,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_name,aisle_id,department_id,department
0,0,2,33120,1,1,202279,3,5,9,8.0,Organic Egg Whites,86,16,dairy eggs
1,1,2,28985,2,1,202279,3,5,9,8.0,Michigan Organic Kale,83,4,produce
2,2,2,9327,3,0,202279,3,5,9,8.0,Garlic Powder,104,13,pantry
3,3,2,45918,4,1,202279,3,5,9,8.0,Coconut Butter,19,13,pantry
4,4,2,30035,5,0,202279,3,5,9,8.0,Natural Sweetener,17,13,pantry

In [11]:
df.drop(['Unnamed: 0', 'product_name', 'department'], axis=1, inplace = True)

In [12]:
df10k = df.sample(frac = 0.0003, random_state = 100)
df10k.to_csv(folder + 'data10k.csv')

In [14]:
df50k = df.sample(frac = 0.0014, random_state = 100)
df50k.to_csv(folder + 'data50k.csv')
df50k.shape

(47347, 11)

In [16]:
df100k = df.sample(frac = 0.0029, random_state = 100)
df100k.to_csv(folder + 'data100k.csv')
df100k.shape

(98075, 11)

In [18]:
df200k = df.sample(frac = 0.0059, random_state = 100)
df200k.to_csv(folder + 'data200k.csv')
df200k.shape

(199533, 11)

In [20]:
df350k = df.sample(frac = 0.0103, random_state = 100)
df350k.to_csv(folder + 'data350k.csv')
df350k.shape

(348337, 11)

In [22]:
df500k = df.sample(frac = 0.0147, random_state = 100)
df500k.to_csv(folder + 'data500k.csv')
df500k.shape

(497141, 11)

In [24]:
df1m = df.sample(frac = 0.03, random_state = 100)
df1m.to_csv(folder + 'data1m.csv')
df1m.shape

(1014573, 11)